<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    </div>
    <a class="navbar-brand text-center" data-ui-sref="store.home"><img src="assets/img/logo.png" alt="Carmen Logo"></a>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
            <li class="icon-baa"><a data-ui-sref="store.appointment">BOOK AN APPOINTMENT</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="icon-account"><a data-ui-sref="store.account">MY ACCOUNT</a></li>
            <li class="icon-bag"><a href="#">MY BAG</a></li>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<div data-ui-view></div>

<div class="container-fluid">
    <div class="row footer">
        <div class="col-md-3"></div>
        <div class="col-md-3 col-sm-6 col-xs-6" style="text-align: right;">
            <ul class="icon-footer">
                <li><a href="#"><img src="assets/img/icons/youtube.png" alt="youtube"></a></li>
                <li><a href="#"><img src="assets/img/icons/linkedin.png" alt="linkedin"></a></li>
                <li><a href="#"><img src="assets/img/icons/instagram.png" alt="instagram"></a></li>
                <li><a href="#"><img src="assets/img/icons/facebook.png" alt="facebook"></a></li>
                <li><a href="#"><img src="assets/img/icons/twitter.png" alt="twitter"></a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6" style="text-align: left;">
            <a href="#" class="btn btn-clean" style="font-size: 10px ! important; padding: 8px 10px; margin-top: 0px; border-color: rgb(125, 124, 124) ! important; color: rgb(125, 124, 124) ! important;">SIGN UP TO RECEIVE EMAIL UPDATES &nbsp;&nbsp;<i class="fa fa-chevron-right"></i></a>
        </div>
        <div class="col-md-3 text-center"></div>
    </div>
</div>